<div class="layout-column justify-content-center align-items-center">

    <div class="layout-row justify-content-around align-items-center mt-20 links">
        <a  routerLink="/home" routerLinkActive="active" data-test-id="home-navigation-tab">Home</a>
        <a  routerLink="/news" routerLinkActive="active" data-test-id="news-navigation-tab">News</a>
        <a  routerLink="/contact" routerLinkActive="active" data-test-id="contact-navigation-tab">Contact</a>
        <a  routerLink="/about" routerLinkActive="active" data-test-id="about-navigation-tab">About</a>
    </div>
  
    <div class="card w-20 ma-0">
      <section class="card-text">
          <span data-test-id="tab-content">HOME PAGE</span>
      </section>
    </div>
  </div>